Register a New User

<form method="POST" action="/register">
    
    <label for="firstname">First name:</label>
    <input type="text" name="firstname" id="firstname" >
    <br>
    

    <label for="lastname">Last name:</label>
    <input type="text" name="lastname" id="lastname">
    <br>

    <label for="email">Email:</label>
    <input type="text" name="email" id="email" placeholder="email@email.com">
    <br>
    
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <br>
    
    <input type="submit" value="Register">
    
</form>

